:root {
  --border: 2px;
  --padding__top__button: 9px;
  --padding__left__rigth: 11px;
  --color__green: darkcyan;
  --color__white: white;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  background-color: lightseagreen;
  color: var(--color__white);
}

h1 {
  text-align: center;
  color: darkslategrey;
}

.container {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--color__white);
  padding: 30px;
}

.search {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

form {
  display: flex;
}

input {
  padding: 15px 10px;
  outline: none;
  width: 500px;
  border-radius: 0px;
  border: 1px solid;
}

.li-container {
  background-color: var(--color__white);
  width: 100%;
  color: darkslategray;
  margin-top: 20px;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  border: 1px solid;
  margin-top: 15px;
  display: flex;
}

.time {
  color: rgb(177, 177, 177);
  font-size: 12px;
  width: 205px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

li p {
  margin: 0;
  padding: 15px;
  width: 100%;
}

.icon{
  padding-left: 10px;
}

.btn-delete {
  margin-left: auto;
  border: none;
  background-color: #e31746;
  color: var(--color__white);
  font-weight: bold;
  padding: 5px 10px;
  width: 9%;
  font-size: 1.2em;
}

.completedTask {
  text-decoration: line-through;
  opacity: 0.5;
}


.btn-delete:hover {
  cursor: pointer;
  background-color: lightseagreen;
}

.btn-add {
  padding: 5px 15px;
  border: none;
  color: var(--color__white);
  font-family: fantasy;
  background-color: teal;
  font-size: 1.4rem;
  outline: none;
}

.btn-add:hover {
  cursor: pointer;
  background-color: var(--color__green);
}

.empty {
  color: darkslategrey;
}

.filter-todo {
  border-color: var(--color__green);
  border-width: 3px;

  padding: 14px;
}

option {
  padding: 15px;
}

.completedBtn {
  margin-left: auto;
  border:var(--border) solid;
  background-color: var(--color__white);
  color: var(--color__green);
  font-weight: bold;
  padding: calc(var(--padding__top__button) - var(--border)) calc(var(--padding__left__rigth) - var(--border));
  font-size: 1.2em;
}

.completedBtn-toogle {
  border: var(--border) solid var(--color__green);
  padding: calc(var(--padding__top__button) - var(--border)) calc(var(--padding__left__rigth) - var(--border));
  background-color: var(--color__green);
  color: var(--color__white);
}